/* * {
  margin: 0;
  padding: 0;
} */
@import url("./intelligentCustomerService/index.css");

body {
  background-color: #efefef;
  font-size: 14px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex2 {
  display: flex;
  align-items: center;
}

i.icon {
  margin-right: 8px;
}
.cursor {
  cursor: pointer;
}
.font_weight {
  font-weight: bold;
}
.flex_start {
  align-items: flex-start;
}

/* 弹窗el-dialog__body */
.el-dialog__body {
  padding: 40px;
  margin: 20px;
  border: 1px solid #e5e5e5;
}

/* 上传 */
.el-upload {
  width: 100%;
}
